
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>   
        
        <title>Home</title>
    </head>
    <body onLoad="disableClick()" bgcolor="#66ff33">
        <h1>Home</h1>
        <h4>This site belongs to Abhrajeet Sarder!</h4>
        <p>A Simple Adding Site</p>
        
        <form name="myForm" id="myForm" action="enter" method="post">
            {% csrf_token %}
            <input type="text" readonly="readonly" id="value" onkeydown="event.preventDefault();callbackReturn(this)" name="inputs">
            <input type="submit">
        </form>
        <br>
        <br>
        <form id="inputs">
        <input type="button" id="1" value="1" onclick="onClickFunction(this)">
        <input type="button" value="2" onclick="onClickFunction(this)">
        <input type="button" value="3" onclick="onClickFunction(this)">
        <input type="button" value="⌫" onclick="onClickFunction(this)">
        <br>
        <input type="button" value="4" onclick="onClickFunction(this)">
        <input type="button" value="5" onclick="onClickFunction(this)">
        <input type="button" value="6" onclick="onClickFunction(this)">
        <input type="button" value="CL" onclick="onClickFunction(this)">
        <br>
        <input type="button" value="7" onclick="onClickFunction(this)">
        <input type="button" value="8" onclick="onClickFunction(this)">
        <input type="button" value="9" onclick="onClickFunction(this)"><br>
        <input type="button" value="+" onclick="onClickFunction(this)">
        <input type="button" value="0" onclick="onClickFunction(this)">
        <input type="button" value="-" onclick="onClickFunction(this)">
        </form>
    <h4>{{result}}{{num}}</h4>
    
    </body>
</html>